**Muppa Chinmai Ram Naga Sai Prasad**

**Question 1**

Create 2 list with some brand names

In [1]:
L1 = ["Cadbury", "Nestle", "KFC", "McDonalds", "Coca Cola", "Britannia", "Kellogs", "Starbucks", "Amazon"]

L2 = ["KFC", "Adidas", "IBM", "Nike", "Starbucks", "FILA", "Nestle", "Amazon", "Cadbury"]

In [3]:
print("List-1 is ", L1)
print("List-2 is ", L2)

List-1 is  ['Cadbury', 'Nestle', 'KFC', 'McDonalds', 'Coca Cola', 'Britannia', 'Kellogs', 'Starbucks', 'Amazon']
List-2 is  ['KFC', 'Adidas', 'IBM', 'Nike', 'Starbucks', 'FILA', 'Nestle', 'Amazon', 'Cadbury']

**Question 2**

List of overlapping brand names in both lists

In [8]:
common = list(set(L1) & set(L2))
print("Overlapping brand names are ", common)
print("Length of Overlapping brand names list is " + str(len(common)))

Overlapping brand names are  ['KFC', 'Cadbury', 'Nestle', 'Amazon', 'Starbucks']
Length of Overlapping brand names list is 5

**Question 3**

Print even numbers starting with 20 and ending with 40

In [7]:
print("Even Numbers in the range of 20 to 40(including 40) are: ")
for i in range(20, 41):
  if i % 2 == 0:
    print(i, end = " ")

Even Numbers in the range of 20 to 40(including 40) are:
20 22 24 26 28 30 32 34 36 38 40